<!-- <p>id：{{heroes.id}}</p>
<p>name：{{heroes.name | uppercase}}</p>
<div>
  <label>name:
    <input [(ngModel)] = "heroes.name" placeholder="name">
  </label>
</div> -->

<h4>My Hero</h4>
<ul class="heroes">
  <li *ngFor="let hero of hero" (click)="onSelect(hero)">
    <span class="span-id">{{hero.id}}</span>
    <span class="span-name" [class.selected]="hero === selectedHero">{{hero.name}}</span>
  </li>
</ul>

<!-- <div *ngIf="selectedHero">
  <p>id: {{selectedHero.id}}</p>
  <p>name: {{selectedHero.name}}</p>
  <label>selectedHero:
    <input [(ngModel)]="selectedHero.name" placeholder="selectedHero">
  </label>
</div> -->
<!-- 通过@Input()方法将父组件的selectedHero传给子组件 -->
<app-hero-detail [hero]="selectedHero"></app-hero-detail>