<!-- <p>id: {{hero2.id}}</p>
<p>name: {{hero2.name | uppercase}}</p> -->
<!-- tip:看一下angular中的内置管道以及如何自定义管道 -->
<!-- <div>
    <label>name:
    <input [(ngModel)]="hero2.name" placeholder="name"/>
    </label>
</div>
<div>
    <ul class="heroes">
        <li *ngFor="let item of hero3" (click)="onSelect(item)"  [class.selected]="hero === selectedHero">
            <span class="badge">{{item.id}}</span>
            {{item.name}}
        </li>
    </ul>
</div> -->
<h2>My Heroes</h2>
<!-- <ul class="heroes">
  <li *ngFor="let hero of hero3" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span>{{hero.name}}
  </li>
</ul> -->

<ul class="heroes">
  <li *ngFor="let hero of hero3">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>


<!-- selectedHero Detail -->
<!-- <div *ngIf="selectedHero">
    <h3>{{selectedHero.name | uppercase}} Details</h3>
    <div><span>id:</span>{{selectedHero.id}}</div>
    <div>
        <label>name:
            <input [(ngModel)]="selectedHero.name" placeholder="name" />
        </label>
    </div>
</div> -->
<!-- <app-hero-detail [hero]="selectedHero"></app-hero-detail> -->
<!-- [hero]="selectedHero" 是属性绑定，父子组件传值 -->